body {
	@media (min-width:$screen-sm)and (max-width:$desktop-breakpoint){
		margin-top: 80px;
	}

	@media(min-width:$desktop-breakpoint){
		.wrap {
			margin-top: 80px;
		}
	}
}


comment-content img, .entry-content img, .widget img {
	max-width: 100%
}

img[class*=align], img[class*=wp-image-] {
	height: auto;
}
img.size-full {
	max-width: 100%;
	width: auto;
}

img.wp-post-image {
	max-width: 100%;
	height: auto;
}

.admin-bar .navbar {
	margin-top: 30px;
}

.page-header {
	color: $brand-primary;

		h1 {
			text-align: center;
		}
}
.content-info{
.store-info {
	text-align: center;
	max-width: 650px;
	margin: 0 auto;
	h1{
		font-size: 16px;
		color: #333;
	}
	p{
		font-size: 14px;
		color: #333;
	}
}
}

.carousel.fade {
	opacity: 1;

	.item
	{
		-moz-transition: opacity ease-in-out .7s;
		-o-transition: opacity ease-in-out .7s;
		-webkit-transition: opacity ease-in-out .7s;
		transition: opacity ease-in-out .7s;
		left: 0 !important;
		opacity: 0;
		top:0;
		position:absolute;
		width: 100%;
		display:block !important;
		//z-index:1;
		&:first-child{
			top:auto;
			position:relative;
		}

		&.active
		{
			opacity: 1;
			-moz-transition: opacity ease-in-out .7s;
			-o-transition: opacity ease-in-out .7s;
			-webkit-transition: opacity ease-in-out .7s;
			transition: opacity ease-in-out .7s;
			//z-index:2;
		}
	}
}
