.parent-pageid-9 {
	.wrap {
		max-width: 600px;

		h4 {
			font-size:1.4em;
			font-weight: 600;
		}
	}

	ol {
		font-size: 1.6em;

			li{
				line-height: 1.6em;
				margin-bottom: 1.0em;
				//color: red;
			}// li
		}// ol

}//.parent-pageid-9
